@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#286090;
    --panel-color:#fff;
    --text-color:#000;
    --black-light-color:#707070;
    --border-color:#e6e5e5;
    --toggle-color: #ddd;
    --box1-color:#4da3ff;
    --title-icon-color:#fff;
    --table-head-color:#286090;

    --tran-05: all 0.5s ease;
    --tran-03:all 0.3s ease;
    --tran-03:all 0.2s ease;

}
body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
body.dark{
    --primary-color:#3A3B3C;
    --panel-color:#242526;
    --text-color:#CCC;
    --black-light-color:#CCC;
    --border-color:#4D4A4C;
    --toggle-color: #FFF;
    --box1-color:#3A3B3C;
    --box2-color:#3A3B3C;
    --box3-color:#3A3B3C;
    --title-icon-color:#CCC;
    --table-head-color:#286090;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px ;
    border-right: 1px solid var(--border-color);
    background-color: var(--panel-color);
    transition:var(--tran-05);
}
.table
{
    border-right: 1px solid var(--border-color);
    background-color: var(--panel-color);
    transition:var(--tran-05);
    color: var(--text-color);
}

nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display:flex;
    justify-content: center;
     min-width:45px;
}

nav .logo-image img{
    width:40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    margin-left: 14px;
    font-weight: 600px;
    color: var(--text-color);
    font-size: 22px;
    transition: var(--tran-05);
}

nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}

nav .menu-items{
    
    margin-top: 40px;
    height: calc(100% -90px);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
}
.menu-items li a{
    text-decoration: none;
    display: flex;
    height: 50px;
    align-items: center;
    position:relative;
}

.nav-links li a:hover:before{
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    left: -7px;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
  
    display: flex;
    height: 100%;
    min-width: 45px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color:var(--black-light-color);
}

.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color:var(--black-light-color);
    transition: var(--tran-05);
}

nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;

}

.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}

.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle{
    position:absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;   
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before{
    content: "";
    position: absolute;
    left:5px;
    top:50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before{
    left: 20px;
}

.dashboard{
    background-color: var(--panel-color);
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition:var(--tran-05);
}

nav.close ~ .dashboard{
    left:73px;
    width: calc(100% - 73px);
}

.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
}

nav.close ~ .dashboard .top{
    left:73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle{
   font-size: 26px;
   color: var(--text-color); 
   cursor: pointer;
}

.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width:100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color:var(--black-light-color);
}

.dashboard .dash-content{
    padding-top: 50px;
}

.dash-content .title{
    display: flex;
    align-items: center;
    margin: 70px 0 30px 0;
}

.dash-content .title i{
    position:relative;
    height: 35px;
    width:35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 24px;
}


.dash-content .boxes{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

.activity .title .text{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color: black
}

body.dark .activity .title .text,
body.dark .activity .title i
{
    color: var(--text-color);
}

.dash-content .boxes .box{
    display: flex;
    margin: auto;
    margin-top: 30px;
    flex-direction: column;
    border-radius: 12px;
    align-items: center;
    width: calc(100% - 100px);
    padding: 40px 40px;
    border: 1px solid #ddd;
    background-color: var(#fff);
    font-size: 50px;
   
}

.boxes .box #fname{
    font-size: 0.40em;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    word-spacing: 3px;
}

body.dark .boxes .box #fname{
    color: var(--text-color);
}

body.dark .boxes .box #age{
    color: var(--text-color);
}
body.dark .boxes .box #address{
    color: var(--text-color);
}
body.dark .boxes .box #lname{
    color: var(--text-color);
}
.boxes .box #address{
    font-size: 0.40em;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    word-spacing: 3px;
}
.boxes .box #lname{
    font-size: 0.40em;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    word-spacing: 3px;
}
.boxes .box #age{
    font-size: 0.40em;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    word-spacing: 3px;
}

.boxes .box #Age{
    font-size: 0.35em;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    word-spacing: 3px;

}

body.dark .boxes .box #firstName{
    color: var(--text-color);
}
body.dark .boxes .box #Address{
    color: var(--text-color);
}
body.dark .boxes .box #Age{
    color: var(--text-color);
}
.boxes .box #Address{
    font-size: 0.35em;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    word-spacing: 3px;
}
.boxes .box #firstName{
    font-size: 0.35em;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    word-spacing: 3px;
}


/* .boxes .box #email{
    font-size: 0.30em;
    font-family: 'Times New Roman', Times, serif;
    color: black;
} */

.boxes.box i{
    font-size: 25px;
    color: var(--text-color);
}
.boxes.box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

#MonthRep
{
    display:none;
}
#AttendList
{
    display: none;
}
th[ scope="col"]
{
    background-color:var(--table-head-color);
    color: #fff;
}
tr:hover
{
    background-color:var(--border-color);
}
input[ type="button"]
{
    background-color:var(--table-head-color);
    display: inline-block;
}

